
.yeLive {
    -khtml-user-select: none;
    user-select: none;
    -moz-user-select: none;
    touch-action: none;
    position: fixed;
    opacity: 1;
    left: 0px;
    bottom: 0px;
    z-index: 99999;
    width: 150px;
    height: 150px
}

#live2d{
    width:150px;height:150px;pointer-events: none;
    bottom:0px;
    position: absolute;
}

.ye_sayings.live2d {
    opacity: 0;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 7px;
    /*top:0px;*/
    bottom: 140px;
    /*bottom: 100%;*/
    left: 0px;
    text-align: center;
    border: 1px solid rgba(113, 100, 91, 0.14);
    border-radius: 12px;
    background-color: rgba(248, 155, 118, 0.23);
    box-shadow: 0 3px 15px 2px rgba(191, 158, 118, 0.2);
    font-size: 13px;
    font-weight: 400;
    text-overflow: ellipsis;
    text-transform: uppercase;
    overflow: hidden;
    position: absolute;
    animation-delay: 5s;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-name: shake;
    animation-timing-function: ease-in-out;
    z-index: 9999999999999;
}

